<!DOCTYPE html>

<title>DatabaseTemplate</title>
<link rel="stylesheet" href = "{{ url_for('static', filename = 'style.css') }}" />

<p>DatabaseTemplate, {{ name }}!</p>
<nav><a href = "{{ url_for('DatabaseTemplate_pdf', name = name) }}">Get as PDF</a></nav>

<html>
    <body>
        <table border = 1>
            <caption align="top">Devices</caption>
            <thead>
                <tr>
                    <td>Model</td>
                    <td>Manufacturer</td>
                    <td>cpeURI</td>
                </tr>
            </thead>

            {% for row in rows %}
                <tr>
                   <td>{{row["Model"]}}</td>
                   <td>{{row["Manufacturer"]}}</td>
                   <td>{{row["cpeURI"]}}</td>
                </tr>
            {% endfor %}
        </table>

        <table border = 1>
            <caption align="top">Vulnerabilities</caption>
            <thead>
                <tr>
                    <td>VulnID</td>
                    <td>cpeName</td>
                    <td>cpe22uri</td>
                    <td>cpe23uri</td>
                    <td>versionsAffected</td>
                    <td>Description</td>
                    <td>CVSSScore</td>
                    <td>attackVector</td>
                    <td>attackComplexity</td>
                    <td>priviligesRequired</td>
                    <td>userInteraction</td>
                    <td>confidentialityImpact</td>
                    <td>integrityImpact</td>
                    <td>availabilityImpact</td>
                    <td>baseScore</td>
                    <td>baseSeverity</td>
                    <td>exploitabilityScore</td>
                </tr>
            </thead>

            {% for row in rows %}
                <tr>
                    <td>{{row["VulnID"]}}</td>
                    <td>{{row["cpeName"]}}</td>
                    <td>{{row["cpe22uri"]}}</td>
                    <td>{{row["cpe23uri"]}}</td>
                    <td>{{row["versionsAffected"]}}</td>
                    <td>{{row["Description"]}}</td>
                    <td>{{row["CVSSScore"]}}</td>
                    <td>{{row["attackVector"]}}</td>
                    <td>{{row["attackComplexity"]}}</td>
                    <td>{{row["priviligesRequired"]}}</td>
                    <td>{{row["userInteraction"]}}</td>
                    <td>{{row["confidentialityImpact"]}}</td>
                    <td>{{row["integrityImpact"]}}</td>
                    <td>{{row["availabilityImpact"]}}</td>
                    <td>{{row["baseScore"]}}</td>
                    <td>{{row["baseSeverity"]}}</td>
                    <td>{{row["exploitabilityScore"]}}</td>
                </tr>
            {% endfor %}
        </table>

        <table border = 1>
            <caption align="top">ScanHistory</caption>
            <thead>
                <tr>
                    <td>ScanID</td>
                    <td>Model</td>
                    <td>ScanDate</td>
                    <td>Duration</td>
                </tr>
            </thead>

            {% for row in rows %}
                <tr>
                    <td>{{row["ScanID"]}}</td>
                    <td>{{row["Model"]}}</td>
                    <td>{{row["ScanDate"]}}</td>
                    <td>{{row["Duration"]}}</td>
                </tr>
            {% endfor %}
        </table>

        <table border = 1>
            <caption align="top">Parameters</caption>
            <thead>
                <tr>
                    <td>ScanID</td>
                    <td>ParameterValue</td>
                    <td>ParameterType</td>
                </tr>
            </thead>

            {% for row in rows %}
                <tr>
                    <td>{{row["ScanID"]}}</td>
                    <td>{{row["ParameterValue"]}}</td>
                    <td>{{row["ParameterType"]}}</td>
                </tr>
            {% endfor %}
        </table>

        <table border = 1>
            <caption align="top">PenTestHistory</caption>
            <thead>
                <tr>
                    <td>PenTestID</td>
                    <td>VulnID</td>
                    <td>Model</td>
                    <td>ScanID</td>
                    <td>Result</td>
                </tr>
            </thead>

            {% for row in rows %}
                <tr>
                    <td>{{row["PenTestID"]}}</td>
                    <td>{{row["VulnID"]}}</td>
                    <td>{{row["Model"]}}</td>
                    <td>{{row["ScanID"]}}</td>
                    <td>{{row["Result"]}}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
